.completed-content {
  width: 80%;
  margin: auto;
  padding: 20px 0;
  text-align: left;
}

.completed-content h2 {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #007bff;
}

.completed-content p {
  font-size: 1.2rem;
  color: #282727;
  line-height: 1.6;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .completed-content {
    width: 95%;
    padding: 15px 0;
    text-align: center;
  }

  .completed-content h2 {
    font-size: 1.8rem;
    margin-top: 8px;
    margin-bottom: 4px;
  }

  .completed-content p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 15px;
  }
}
