.ongoing-content {
  width: 80%;
  margin: auto;
  padding: 20px 0;
  text-align: left;
}

.ongoing-content h2 {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #007bff;
}

.ongoing-content p {
  font-size: 1.2rem;
  color: #282727;
  line-height: 1.6;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .ongoing-content {
    width: 90%;
    padding: 15px 10px;
  }

  .ongoing-content h2 {
    font-size: 1.8rem;
    margin-top: 5px;
    margin-bottom: 8px;
  }

  .ongoing-content p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 15px;
  }
}
